body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.sidebar{
width:220px;
height:100vh;
background:#020617;
position:fixed;
padding:20px;
}

.sidebar li{
list-style:none;
padding:12px;
cursor:pointer;
border-bottom:1px solid #1e293b;
}

.main{
margin-left:240px;
padding:20px;
}

table{
width:100%;
border-collapse:collapse;
}

td,th{
padding:10px;
border-bottom:1px solid #334155;
}

.alpha{color:#22c55e;}
.whale{color:#38bdf8;}
.neutral{color:#facc15;}
